name: Publish docker images to multiple registries

on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Release version'
        required: true

env:
  repository: harp
  image: harp-artifacts

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: docker.elastic.co
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Push standard image to multiple registries
        uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: ghcr.io/elastic/${{ env.repository }}/${{ env.harp-image }}:v${{ github.event.inputs.release }}
          dst: |
            docker.elastic.co/${{ env.repository }}/${{ env.harp-image }}:v${{ github.event.inputs.release }}
            docker.elastic.co/${{ env.repository }}/${{ env.harp-image }}:latest
      -
        name: Push FIPS image to multiple registries
        uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: ghcr.io/elastic/${{ env.repository }}/${{ env.harp-image }}-fips:v${{ github.event.inputs.release }}
          dst: |
            docker.elastic.co/${{ env.repository }}/${{ env.harp-image }}-fips:v${{ github.event.inputs.release }}
            docker.elastic.co/${{ env.repository }}/${{ env.harp-image }}-fips:latest
